@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
html, body {
    height:100%;
}
body {
  margin: 0;
  color: #323638;
  background: #eee;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}
div, p {
    margin: 0;
    padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
  color: inherit;
}
input, select, textarea {
  min-width: 0;
  border-radius: 0;
}
button {
  border: none;
  height: 45px;
  min-height: 30px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 0;
}
button:hover {
  background-color: #fff;
}
button[disabled="true"] {
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
}
button[disabled="true"]:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
}
::-webkit-input-placeholder {
    color: #333;
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.dark-bg {
  background-color: #263238;
}
.img-bg {
  background-image: url(../img/board_bg.jpg);
  background-size: cover;
  background-attachment: center center;
  background-repeat: no-repeat;
}

.start.text {
  color: #fff;
}

.ghost {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;

  transition: background 0.5s, color 0.5s;
}
.ghost:hover {
  background: #fff;
  color: #323638;
}
.frosted {
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
}
.scan-button {
  background-image: url(../img/icon_code_scan.png);
  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat;
}

.start button {
  margin-top: 10px;
}


.form {
  min-width: 30%;
  width: 450px;
  max-width: 95%;
  text-align: center;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.form hr {
  width: 100%;
  margin: 15px 0;
}
.form a + hr {
  margin-top: 10px;
}
.form label {
  color: #fff;
  font-size: 15px;
}
.form > input, .flex-container, select, textarea {
  box-sizing: border-box;
  flex: 1 100%;
  margin-bottom: 15px;
  vertical-align: center;
}
.form input, select, textarea {
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  padding-left: 35px;
  font-family: inherit;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.6);
  border: none;
}
.form input:focus, select:focus, textarea:focus {
  background: rgba(255, 255, 255, 0.75);
}
.form input[disabled],
.form select[disabled],
.form textarea[disabled] {
  color: #484848;
  background-color: rgba(255, 255, 255, 0.4);
}
.form textarea {
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form button {
  margin: 5px auto;
  width: 100%;
}
.form .one {
  margin: 0;
}
.form a {
  width: 100%;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
}
.form .flex-container input {
  flex: 1 auto;
  margin: 0;
}
.form .flex-container button {
  flex: 1 10%;
  height: 42px;
  min-width: 42px;
  max-width: 60px;
  margin: 0;
}

.form .error {
  box-sizing: border-box;
  min-height: 42px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  background: rgba(244, 67, 54, .75);
  color: #fff;
}

.table {
  width: 100%;
  text-align: left;
  border: none;
  border-collapse: collapse;
}
.table thead tr {
  background-color: rgba(255, 255, 255, .9);
}
.table tbody tr {
  background-color: rgba(255, 255, 255, .6);
  border-bottom: 1px solid #555;
  cursor: pointer;
}
.table tbody tr:hover {
  background-color: rgba(255, 255, 255, .8);
}
.table tr.ok {
  background-color: rgba(102,187,106,.75);
}
.table tbody tr.ok:hover {
  background-color: rgba(102,187,106,.9);
}
.table tr.software {
  background-color: rgba(255,111,0,.75);
}
.table tbody tr.software:hover {
  background-color: rgba(255,111,0,.9);
}
.table tr.critical {
  background-color: rgba(244,67,54,.75);
}
.table tbody tr.critical:hover {
  background-color: rgba(244,67,54,.9);
}
.table td, th {
  padding: 10px 20px;
}


.appicon {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 64px;
  height: 64px;
  background-image: url(/res/img/Barcord.png);
  background-size: 100% 100%;
  background-position: center center;
  background-color: transparent;
}