html, body {
  margin: 0;
}

body {
  background-color: #e8e8e8;
/*   zoom: 0.664; */
}

.paper {
  display: block;
  width: 595px;
  height: 842px;
  margin: 56px auto;
  background: #fff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.layout {
  margin: 56px;
}

.layout__header {
  font-family: monospace;
  letter-spacing: 1px;
  border: 1px dashed #ccc;
  padding: 24px;
  margin: 24px 0;
}
  .layout__header-row::after {
    content: '';
    display: block;
    clear: both;
  }
  .layout__header-col {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0 4px;
  }
  .col--left {
    text-align: right;
  }
  .col--right {
    text-align: left;
  }

.bold {
  font-weight: bold;
}


.layout__box {
  display: block;
  text-align: center;
/*   float: left; */
/*   width: 50%; */
/*   border: 1px solid #aaa; */
  box-sizing: border-box;
/*   height: 140px; */
}
.layout__box > div {
  float: left;
}
.layout__box::after {
  content: '';
  display: block;
  clear: both;
}

.layout__image {
  margin: 24px auto 6px;
}

.layout__digits {
  font-family: monospace;
  letter-spacing: 4px;
  font-size: 12px;
}

body.layout--two-col .layout__box {
  float: left;
  margin: 20px;
  width: calc(50% - 40px);
}

@media print {
  .paper {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .layout {
    margin: 12px;
  }
}
