
.scan-scanner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #263238;
}

.scan-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  
  transition: background 0.5s, color 0.5s;
}
.scan-btn:hover {
  background: #fff;
  color: #323638;
}

.scan-scanner .viewport {
  width: 100%;
  height: auto;
  overflow: hidden;
}
